<?=$this->display('index/header')?>
<main class="main_list">
	<div class="list_left">
		<div class="info_left">
			<h2 class="info_title"><?=$data['title']?></h2>
			<div class="list_left_mA">
				<span><?=$data['name']?></span>
				<span>&nbsp;&nbsp;|&nbsp;&nbsp;<?=$data['ctime']?></span>
			</div>
			<div class="info_content"><?=htmlspecialchars_decode($data['content'])?></div>
		</div>
	</div>
	<div class="list_right">
		<h3>推荐阅读</h3>
		<ul class="list_right_ul">
			<?php foreach($tj_list as $k => $v){ ?>
			<li>
				<i></i>
				<a href="<?=U('index/detail').'?id='.$v['id']?>" title="<?=$v['title']?>"><?=$v['title']?></a>
				<p><?=$v['ctime']?></p>
			</li>
			<?php } ?>
		</ul>
	</div>
</main>
<?=$this->display('index/footer')?>