<include file="Common:header"/>
<body class="mobile_body">
	<div id="desk">
		<ul>
			<li title="我的相册">
				<img src="{$p_img}my_photo.png" alt="">
				<span>我的相册</span>
				<em></em>
			</li>
			<li title="我的音乐">
				<img src="{$p_img}my_audio.jpg" alt="">
				<span>我的音乐</span>
				<em></em>
			</li>
			<li title="我的视频">
				<img src="{$p_img}my_video.png" alt="">
				<span>我的视频</span>
				<em></em>
			</li>
			<li title="我的微博">
				<img src="{$p_img}my_weibo.png" alt="">
				<span>我的微博</span>
				<em></em>
			</li>
			<li title="我的论坛">
				<img src="{$p_img}my_luntan.png" alt="">
				<span>我的论坛</span>
				<em></em>
			</li>
			<li title="我的壁纸">
				<img src="{$p_img}my_bizhi.png" alt="">
				<span>我的壁纸</span>
				<em></em>
			</li>
			<li title="我的简历">
				<img src="{$p_img}my_jianli.jpg" alt="">
				<span>我的简历</span>
				<em></em>
			</li>
			<li title="我的文章">
				<img src="{$p_img}my_article.png" alt="">
				<span>我的文章</span>
				<em></em>
			</li>
			<li title="给我留言">
				<img src="{$p_img}my_message.png" alt="">
				<span>给我留言</span>
				<em></em>
			</li>
		</ul>
	</div>
</body>
</html>
<include file="Common:footer"/>