<div class="w_footer_top">
	<ul>
		<li><a href=""><img src="{$p}img/foot_1.gif" alt=""></a></li>
		<li><a href=""><img src="{$p}img/foot_2.gif" alt=""></a></li>
		<li><a href=""><img src="{$p}img/foot_3.jpg" alt=""></a></li>
		<li><a href=""><img src="{$p}img/foot_4.gif" alt=""></a></li>
	</ul>
</div>
<div class="w_footer_bottom">
	<div class="w_footer_bt">
		<ul>
			<p>简介</p>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
		</ul>
		<ul>
			<p>简介</p>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
		</ul>
		<ul>
			<p>简介</p>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
		</ul>
		<ul>
			<p>简介</p>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
		</ul>
		<ul>
			<p>简介</p>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
			<li><a href="">我的简介</a></li>
		</ul>
		<div class="w_footer_sv">
			<h4><a href="">联系我们</a></h4>
			<p>周一至周日  欢迎致电</p>
			<img src="{$p}img/foot_5.jpg">
		</div>
	</div>
</div>

<script type="text/javascript" src="{$p}js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{$p}js/common.js?v={:rand(0,99)}"></script>
<script type="text/javascript" src="{$p}js/form.js?v={:rand(0,99)}"></script>
<script type="text/javascript" src="{$p}js/member.js"></script>
