<include file="header"/>
<div class="w_login">
	<div class="w_car_content">
		<div class="w_login_to">
			<div class="w_login_tn">
				<div class="w_login_bg" style="border-radius: 10px;">
					<div class="w_findPwd w_findPwd_phone">
						<a href="{:U('phonePwd')}">通过手机号找回密码</a>
					</div>	
					<div class="w_findPwd w_findPwd_email">
						<a href="{:U('emailPwd')}">通过邮箱找回密码</a>
					</div>
					<div class="w_findPwd w_findPwd_problem">
						<a href="{:U('problemPwd')}">通过密保问题找回密码</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="footer"/>
</body>
</html>