<include file="header"/>
<div class="w_login">
	<div class="w_car_content">
		<div class="w_login_to">
			<div class="w_login_tn">
				<div class="w_login_bg" style="border-radius: 10px;">
					<form action="__SELF__" method="post">
						<div class="w_login_pwd w_login_input">
							<input type="password" name="password" placeholder="请输入你要修改的密码">
						</div>
						<div class="w_login_pwd w_login_input">
							<input type="password" name="password2" placeholder="请再次输入要修改的密码">
						</div>
						<div class="w_login_submit">
							<input type="submit" value="提交">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="footer"/>
</body>
</html>